@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: Poppins;
}

*, *::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-f {
  height: 700px;
}